

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <img src="assets/img/logo.png.png" class="img-fluid" alt="cinema films">
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse " id="navbarColor01" style>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink='home'>HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='movies'>MOVIES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='tv'>TV</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="people">PEOPLE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="review">REVIEW</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact">CONTACT</a>
          </li>
        </ul>
        <div class=" icons ">
            <i class="fab fa-facebook mx-2"></i>
            <i class="fab fa-twitter mx-2"></i>
            <i class="fab fa-instagram mx-2"></i>
            <i class="fab fa-youtube mx-2"></i>
             </div>
      </div>
    </div>
  </nav>

